{{ define "main" }}
<article class="article">
    <h1 class="artitle__title">{{ .Title }}</h1>

    <header class="article__header">
      {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
      <span class="">
        Read in {{ .ReadingTime }} {{ $readTime }} &middot;
        <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
          {{ dateFormat "2 Jan, 2006" (default .Date (.PublishDate)) }}
        </time>
      </span>
    </header>
    {{ .Content }}

    <section class="comments">
      <h2 class="comments__title">Comments</h2>
      {{ template "_internal/disqus.html" . }}
    </section>
</article>
{{ end }}
