{{ define "main" }}
  <div id="reading-progress-bar" role="presentation" class="fixed z-10 top-0 left-0 h-1 bg-gray-700"></div>

  <article class="article">
    <h1><a href="{{.Permalink}}" class="no-underline">Posts with the tag: {{ .Title }}</a></h1>

    {{ range .Paginator.Pages }}
      <div class="border-b border-gray-400">
        <h2 class="text-3xl font-bold mb-0">
          <a href="{{ .RelPermalink }}" class="no-underline">{{ .Title }}</a>
        </h2>

        <small class="block text-right text-sm">
          {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
          Read in {{ .ReadingTime }} {{ $readTime }} &middot;
          <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" (default .Date (.PublishDate)) }}">
            {{ dateFormat "January 2, 2006" (default .Date (.PublishDate)) }}
          </time>
        </small>
        
        <p>{{ .Summary }}</p>
      </div>    
    {{ end }}
  </article>

  {{ if gt .Paginator.TotalPages 1 }}
    {{ partial "pagination.html" . }}
  {{ end }}
{{ end }}
